.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #83c55a;
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
